.bg{
    background-image: url(greenwichPhoto.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

.bginput{
    opacity: 0.2;
}

.right{
    float: right;
}

.clock-size{
    width: 25%;
    height: 10px;
}

.white{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.topbar {
    height: 10vh;
}

.mainform {
    padding: 2rem;
    color: #ffffff;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
  }
  
a:hover, a:active {
    color: blue;
    text-decoration: none;
  }

.blue {text-decoration-color:blue;
}